app/views/home.view.html
<div ng-controller="HomeController as vm">
    <div class="container">
        <div class="block-upper">
            <h1>Hi {{vm.user.username}}!</h1>
            <p>You're logged in!!</p>
        </div>
        <h4>All registered users:</h4>
        <ul class="user-listing list-unstyled">
            <li ng-repeat="user in vm.allUsers"><strong>User Name:</strong><span>{{user.username}}</span><strong>Email:</strong><span>{{user.email}}</span><strong>Password:</strong><span>{{user.password}}</span><strong>Image:</strong><span>{{user.filename}}</span><a href="#" ng-click="vm.deleteUser(user.id)">Delete</a></li>
        </ul>
        <p><a href="#!/login" class="btn btn-primary">Logout</a></p>
    </div>
</div>

gulp/src/html/views/home.view.jade
div(ng-controller='HomeController as vm')
	.container
		.block-upper
			h1 Hi {{vm.user.username}}!
			p You're logged in!!
		h4 All registered users:
		ul.user-listing.list-unstyled
			li(ng-repeat='user in vm.allUsers')
				strong User Name:
				span {{user.username}}
				strong Email:
				span {{user.email}}
				strong Password:
				span {{user.password}}
				strong Image:
				span {{user.filename}}
				a(href='#', ng-click='vm.deleteUser(user.id)') Delete
		p
			a.btn.btn-primary(href='#!/login') Logout
