app/views/login.view.html
<div ng-controller="FacebookController">
    <div class="container">
        <div ng-show="loginStatus != 'disconnected'" class="facebook-stats">
            <div class="buttons"><button type="button" ng-click="api()" class="btn btn-sm btn-primary">api user data call</button><button type="button" ng-click="removeAuth()" class="btn btn-sm btn-secondary">remove auth</button></div>
            <pre>status:<span ng-bind="loginStatus"></span></pre>
            <pre>username:<span ng-bind="user.first_name"></span></pre>
            <pre>password:<span ng-bind="user.email"></span></pre>
        </div>
    </div>
    <div class="container">
        <div class="registration-area">
            <div class="form-box">
                <div class="form-box-head">
                    <h4><i class="glyphicon glyphicon-edit"></i>Login To Your Account / Register New</h4>
                </div>
                <div class="form-box-contents">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-block">
                                <div class="action-head"><a href="#" ng-click="login()" class="btn btn-facebook"><span class="addon"><i class="facebook"></i></span><span class="text">Login with <em>Facebook</em></span></a></div>
                                <div ng-controller="LoginController as vm">
                                    <form name="form" ng-submit="vm.login()" role="form" class="login-form">
                                        <div ng-class="{ 'has-error': form.username.$dirty &amp;&amp; form.username.$error.required }" class="form-group"><input id="username" type="text" name="username" ng-model="vm.username" placeholder="User Name" required="" class="form-control" /><span ng-show="form.username.$dirty &amp;&amp; form.username.$error.required" class="help-block">Username is required</span></div>
                                        <div
                                            ng-class="{ 'has-error': form.password.$dirty &amp;&amp; form.password.$error.required }" class="form-group"><input id="password" type="password" name="password" ng-model="vm.password" placeholder="Password" required="" class="form-control" /><span ng-show="form.password.$dirty &amp;&amp; form.password.$error.required"
                                                class="help-block">Password is required</span></div>
                                <div class="form-actions">
                                    <div class="checkbox"><label><input type="checkbox" name="remember" ng-change="rememberMe()" ng-model="remember"/>Remember my password<em></em></label></div><button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button></div>
                                </form>
                                <!-- /.login-form-->
                            </div>
                        </div>
                        <!-- /.form-block-->
                    </div>
                    <div class="col-md-6">
                        <div class="form-block">
                            <div ng-controller="RegisterController as vm">
                                <form name="form" ng-submit="vm.register()" role="form" class="registration-form">
                                    <div class="form-head">
                                        <h4>Register</h4>
                                        <div class="drop-area">
                                            <div class="drop-text">
                                                <h6 class="drop-title">Profile Image</h6>
                                                <div ng-repeat="f in files" class="img-info"><span class="img-name">{{f.name}}</span></div>
                                            </div>
                                            <div ngf-drop="ngf-drop" ngf-select="ngf-select" ng-model="files" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="image/*" ngf-pattern="'image/*'" class="drop-img"><i class="glyphicon glyphicon-open"></i></div>
                                            <!-- /.drop-img-->
                                        </div>
                                        <!-- /.drop-area-->
                                    </div>
                                    <div ng-class="{ 'has-error': form.email.$dirty &amp;&amp; form.email.$error.required }" class="form-group"><label for="email">Email</label><input id="email" type="email" name="email" ng-model="vm.user.email" required="" class="form-control" /><span ng-show="form.email.$dirty &amp;&amp; form.email.$error.required" class="help-block">Email is required</span></div>
                                    <div
                                        ng-class="{ 'has-error': form.username.$dirty &amp;&amp; form.username.$error.required }" class="form-group"><label for="username">user Name</label><input id="username" type="text" name="username" ng-model="vm.user.username" required="" class="form-control" /><span ng-show="form.username.$dirty &amp;&amp; form.username.$error.required"
                                            class="help-block">Username is required</span></div>
                            <div ng-class="{ 'has-error': form.password.$dirty &amp;&amp; form.password.$error.required }" class="form-group"><label for="password">Password</label><input id="password" type="password" name="password" ng-model="vm.user.password" required="" class="form-control" /><span ng-show="form.password.$dirty &amp;&amp; form.password.$error.required"
                                    class="help-block">Password is required</span><input type="hidden" name="filename" ng-value="vm.user.filename" class="form-control" /></div>
                            <div class="form-actions"><button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-secondary">Register</button></div>
                            </form>
                        </div>
                    </div>
                    <!-- /.form-block-->
                </div>
            </div>
        </div>
    </div>
    <!-- /.form-box-->
</div>
</div>
</div>

gulp/src/html/views/login.view.jade
include ../includes/forms.jade
include ../includes/facebook.jade

div(ng-controller="FacebookController")
    .container
        +facebookStats()

    .container
        .registration-area
            .form-box
                .form-box-head
                    h4
                        i.glyphicon.glyphicon-edit
                        | Login To Your Account / Register New
                .form-box-contents
                    .row
                        .col-md-6
                            .form-block
                                .action-head
                                    +facebookBtn()
                                +loginForm()
                            // /.form-block
                        .col-md-6
                            .form-block
                                +regForm()
                            // /.form-block
            // /.form-box
